.mention-wrapper {
   position:relative;

   .mention-options {
      position:absolute;
      pointer-events:none;
      opacity:0;
      color:rgba(0, 0, 0, 0.9);
      width:100%;
      border:3px solid transparent;
      box-sizing:border-box;
      display:flex;
      flex-wrap:wrap;

      &.mention-options-reverse {
         flex-direction: column-reverse;
         top:initial;
         bottom:100%;
      }

      .mention-option {
         padding:5px 10px;
         box-sizing:border-box;
         background:#FFF;
         position:relative;
         cursor:pointer;
         display:none;
         width:100%;
         &.hover, &:hover{
            background:#AAA;
            color:#FFF;
         }
      }

      &.show {
         opacity:1;
         pointer-events:initial;
         .mention-option.show {
            display:block;
         }
      }
   }
}
