.mention-options {
   position:absolute;
   pointer-events:none;
   opacity:0;
   color:rgba(0, 0, 0, 0.9);
   width:100%;
   border:3px solid transparent;
   box-sizing:border-box;

   &.show {
      pointer-events:initial;
      opacity:1;
   }
}

.mention-options .mention-option {
   padding:5px 10px;
   background:#FFF;
   position:relative;
   cursor:pointer;
   display:none;

   &.hover{
      background:#AAA;
      color:#FFF;
   }
}
.mention-options .mention-option:hover:after,
.mention-options .mention-option.active:after {
   content: '';
   position:absolute;
   top:0px; left:0px;
   width:100%; height:100%;
   background:rgba(0, 0, 0, 0.1);
   pointer-events:none;
   cursor:pointer;
}

.mention-options .mention-option.show {
   display:block;
}
