.mention-wrapper {
   position:relative;
   display:inline-block;
   textarea {
      border-radius:0px;
      margin:0px;
      resize:none;
      box-sizing:border-box;
      width:100%; height:100%;
   }

   .mention-options {
      box-sizing:border-box;
      position:absolute;
      width:100%;
      opacity:0;
      pointer-events:none;
      background:#FFF;
      color:#333;
      display:flex;
      flex-wrap:wrap;

      &.mention-options-reverse {
         flex-direction: column-reverse;
         top:initial;
         bottom:100%;
      }

      .mention-option {
         box-sizing:border-box;
         background:#FFF;
         position:relative;
         cursor:pointer;
         display:none;
         width:100%;
         &.hover, &:hover{
            background:#AAA;
            color:#FFF;
         }
      }

      &.show {
         opacity:1;
         pointer-events:initial;
         .mention-option.show {
            display:block;
         }
      }
   }
}
